.App {
  padding: 15px;
}

.search-input,
.search-button {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.search-input {
  border: 1px solid grey;
  border-radius: 2px;
  width: 200px;
  height: 20px;
}

.search-button {
}
